<section>
    <article>
        <div class="contact">
            <h3>Contact Us<strong>.</strong></h3>
            <p>Let's Get Started! Share your your details and our team our team will reach out to discuss how we can
                assit
                with your project.</p>
            <p>For employment inquiries, please visit our <a href="/careers"><strong>Careers Page</strong></a>.</p>
        </div>
        <div>
            <form [formGroup]="Formulario" (ngSubmit)="onSubmit()">
                <label for="">Name <strong>*</strong></label>
                <input formControlName="name" type="text">
                <label for="">Company Name <strong>*</strong></label>
                <input formControlName="company" type="text">
                <label for="">Email Address <strong>*</strong></label>
                <input formControlName="email" type="text">
                <label for="">Phone Number <strong>*</strong></label>
                <input formControlName="phone" type="text">
                <label for="">Industry (Energy, Oil & Gas, Manufacturing, etc.) <strong>*</strong></label>
                <input formControlName="industry" type="text">
                <label for="">Service/Product of Interest <strong>*</strong></label>
                <select formControlName="service" name="" id="">
                    <option value="" hidden selected value></option>
                    <option value="Fabrication and Welding">Fabrication and Welding</option>
                    <option value="Machining">Machining</option>
                    <option value="High-pressure Water Jet">High-pressure Water Jet</option>
                    <option value="On-site Services">On-site Services</option>
                    <option value="Wellhead Installation">Wellhead Installation
                    </option>
                    <option value="Jars and Shock Tools">Jars and Shock Tools</option>
                    <option value="Fishing & Re-entry Tols">Fishing & Re-entry Tols</option>
                    <option value="Geothermal Wellhead Replacement">Geothermal Wellhead Replacement</option>
                    <option value="Product Representation">Product Representation</option>
                    <option value="Equipment Rental">Equipment Rental</option>
                    <option value="Property Rental">Property Rental</option>
                    <option value="Other Services">Other Services</option>
                </select>
                <label for="">Project Details/Inquiry <strong>*</strong></label>
                <textarea formControlName="details" name="" class="textBox" style="resize: none;" id=""></textarea>
                <label for="">Preferred Contact Method (Email, Phone, or either) <strong>*</strong></label>
                <input formControlName="contact" type="text">

                <input class="button" type="submit" value="Submit">
            </form>
        </div>
    </article>
    <article>
        <div class="office">
            <h4>Main Office</h4>
            <div>
                <fa-icon [icon]="faLocationDot"></fa-icon>
                <p>Blk. 2, Lot 10-13, Platinum Street, South, South Horizon Business Park 1 Inc., Km. 38, Governors
                    Drive,
                    Brgy.
                    Cabilang Baybay, Carmona, Cavite 4116 Philippines</p>
            </div>
            <div>
                <fa-icon [icon]="faPhone"></fa-icon>
                <p><strong>Phone No. </strong> <u>+632 8 584-4598</u> | <u>+632 8 552-5280</u> | <u>+63 917-810-8632</u>
                </p>
            </div>
            <div>
                <fa-icon [icon]="faPrint"></fa-icon>
                <p><strong>Fax No.</strong> <u>+6346 413-3894</u></p>

            </div>
            <div>
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <p><strong>Email</strong></p>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3866.0027324021403!2d121.0301044549303!3d14.311273944567116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d654cf7cab75%3A0x95f9e814129196d1!2sTESCO%20-%20Technology%20Exports%20Services%20Corporation!5e0!3m2!1ses!2ses!4v1727195165874!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="office">
            <h4>Satellite Office</h4>
            <div>
                <fa-icon [icon]="faLocationDot"></fa-icon>

                <p><strong>San Pedro, Laguna:</strong> Magsaysay Street, San Pedro, Laguna
                    <br><strong>Ormoc, Leyte:</strong> Barangay Dayhagan, Ormoc, Leyte
                </p>

            </div>
        </div>
    </article>
</section>