<figure>
    <img src="../../assets/img/tesco.jpg" alt="">
</figure>
<section>
    <article class="article1">
        <h3>Our Journey<strong>.</strong></h3>
        <p>We are pioneers in precision engineering and industrial solutions.</p>
    </article>
    <article class="article2">
        <p>Founded in 1996, <strong>TESCO</strong> has become a leading contractor, offering a comprehensive range of
            services including <strong>machining,
                fabrication, welding, and tool rentals</strong>. From a single shop, we have expanded to three
            locations,
            serving diverse
            industries such as <strong>energy, petroleum, geothermal, oil & gas, manufacturing,</strong> and
            <strong>mining.</strong>
        </p>
        <p>Over the years, we’ve established strategic alliances with international partners, integrating advanced
            technologies to
            enhance both <strong>product development</strong> and <strong>service delivery</strong>. Our commitment to
            quality is underscored by our <strong>ISO 9001:2015</strong>
            certification and compliance with <strong>API Spec 7-1</strong> standards.</p>
        <p>At TESCO, safety is a top priority. We maintain a robust <strong>safety and health management
                program</strong>
            that protects both our
            operations and our employees, ensuring we meet or exceed the highest industry safety standards.</p>
        <p>With a wealth of technical expertise, state-of-the-art equipment, and dedicated resources, TESCO continues to
            deliver
            exceptional value, <strong>quality, efficiency,</strong> and <strong>safety</strong> to every project we
            undertake.</p>
    </article>
</section>