.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
    user-select: none;
}

.carousel-container:active {
    cursor: grabbing;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {

    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 200px;
    height: auto;
}