.carousel-container {
    width: 65%;
    overflow: hidden;
    position: relative;
    cursor: grab;
    user-select: none;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.left,
.right {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 40;

    & p {
        background-color: var(--primary-color);
        color: white;
        font-size: 25px;
        padding: 0px 3px;
        font-weight: bold;
    }
}



.carousel-container:active {
    cursor: grabbing;
}

.carousel-track {
    width: 80%;
    display: flex;
    transition: transform 0.5s ease;
    justify-items: center;
    align-items: center;
    gap: 60px;
}

.carousel-slide {

    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 150px;
    height: auto;
}