<nav>
    <figure>
        <a href="" class="logo"><img src="../../assets/img/4422f5aa-fc68-446d-991a-e02d006f5f8f.jpg" alt="">
        </a>
    </figure>

    <ul>
        <li><a routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/about">About Us</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/products">Products & Services</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/careers">Careers</a>
        </li>
        <li><a routerLinkActive="active" class="contact" routerLink="/contact">Contact Us</a>
        </li>
    </ul>
</nav>