<section>

    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/SPOOLING-DRUM-ASSEMBLY.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>FABRICATION AND WELDING</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/2DSAF-CASING-HEAD-FLANGE.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>MACHINING</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/3PIPE-CLEANING-30-AND-18.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>HIGH PRESSURE WATER JET</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img"
            src="../../assets/img/img-services/4PORTABLE-WELDING-VAN-WITH-STRESS-AND-GENSET.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>ON-SITE SERVICES</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/5wellhead-installation.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>WELLHEAD INSTALLATION</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/6Jar3.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>JARS AND SHOCK TOOLS</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/7FISHING-MILLING-TOOLS.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>FISHING & RE-ENTRY TOOLS</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/8GWERT2.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>GEOTHERMAL WELLHEAD REPLACEMENT</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img"
            src="../../assets/img/img-services/930-inch-Diameter-pipe-with-E-Glass-insulation.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>PRODUCT REPRESENTATION</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/10MANLIFT.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>EQUIPMENT RENTAL</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/11PROPERTY-RENTAL.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>PROPERTY RENTAL</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="second hero">
        <img class="hero-profile-img" src="../../assets/img/img-services/12other-services.jpg" alt="">
        <div class="hero-description-bk"></div>
        <div class="hero-logo">
            <img src="../../assets/img/82e88996-d3f4-4b8c-b999-5060de031fc7.jpg" alt="">
        </div>
        <div class="hero-description">
            <p>OTHER SERVICES</p>
        </div>
        <div class="hero-date">
            <p>2024</p>
        </div>
        <div class="hero-btn">
            <a href="#">Learn More</a>
        </div>
    </div>
</section>
<div class="slider">
    <slider></slider>
</div>