<section class="primera">
    <article class="text1">
        <p>We connect industries to innovative services that drive efficiency and growth<strong>.</strong></p>
    </article>
    <article class="text2">
        <h3>About Us</h3>
        <div class="linea"></div>
        <p>Founded in 1996, <strong>TESCO</strong> has evolved into a leading contractor, offering a wide range of
            services including
            <strong>machining,
                fabrication, welding,</strong> and <strong>tool rentals.</strong> From humble beginnings as a single
            shop, we’ve expanded
            to three
            locations,
            serving diverse industries such as <strong>energy, petroleum, geothermal, oil & gas, manufacturing, and
                mining.</strong>
        </p>
        <p>Over the years, we’ve built strategic partnerships with select international companies, bringing cutting-edge
            technologies and innovations in both <strong>product development</strong> and <strong>service
                delivery</strong> to better meet the needs of
            our clients.</p>
        <a href="/about">Learn More</a>
    </article>
</section>
<figure>
</figure>
<section class="products">
    <header>
        <h3>Core Industrial Products and Services</h3>
    </header>
    <article>
        <div class="numero">1</div>
        <p>Flanges, Spools & Double Studded Adapter Flanges (API Specifications)</p>
        <div class="linea2"></div>
        <p>TESCO specializes in the manufacturing of high-quality flanges and flange-based equipment built to exact
            <strong>API
                specifications</strong>. We ensure all materials are verified with mill certifications before
            processing,
            guaranteeing
            reliability and compliance at every stage.
        </p>
        <a href="/about">Learn More</a>
    </article>
    <article>
        <div class="numero">2</div>
        <p>Drill Stem Subs, Crossovers & Adapters (API Specifications)</p>
        <div class="linea2"></div>
        <p>Our <strong>API drill stem</strong> tools are produced in strict accordance with API Spec 7-1 standards.
            With
            four state-of-the-art oilfield lathe machines, we ensure precision and efficency in every project. From
            raw
            materials to finishing, each step of the manufacturing process adheres to stringent <strong>API
                guidelines</strong>, with every connection measured using API-calibrated gauges for superior
            quality.
        </p>
        <a href="/about">Learn More</a>
    </article>
    <article>
        <div class="numero">3</div>
        <p>Casing Head Flange Welding</p>
        <div class="linea2"></div>
        <p>TESCO's team of certified, highly trained profesionals brings unmatched expertise in <strong>welding,
                machine, perforation, and fabrication.</strong>Equipped with a broad range of mobile welding and heat
            treatment equipment, we ensure every project is handled with precision and care.</p>
        <a href="/about">Learn More</a>
    </article>
    <article>
        <div class="numero">4</div>
        <p>Reconditioning of 30" Nov Annular Diverter</p>
        <div class="linea2"></div>
        <p>TESCO offers comprehensive reconditioning services for <strong>30" Nov Annular Diverters</strong> alongside
            <strong>scaffolding supply, leak testing, and equipment trading.</strong> Our commitment to quality ensures
            that all reconditioning projects meet industry standards, extending the life of critical equipment.
        </p>
        <a href="/about">Learn More</a>
    </article>
    <header>
        <h3>Key Partnerships</h3>
    </header>

</section>

<img src="" alt="">